main{
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

main > img{
    width: 300px;
    height: 400px;
    object-fit: cover;
}

main > p{
    text-align: center;
    width: 600px;
    margin-left: 50px;
}